div {
    min-height: 50px;
    min-width: 150px;
    border-style: solid;
    margin: 8px 8px 8px 8px;
    border-color: paleturquoise;
    border-radius: 3px;
    background-color: paleturquoise;
}

.minimo {
    background-color: red;
}

#inv {
    display: none;
}

#geral {
    display: flex;
    flex-direction: column;
    background-color: orchid;
    
}

#primeiro_nivel_1 {
    display: flex;
    justify-content: flex-start;
}

#segundo_nivel_1 {
    display: flex;
    justify-content: center;
}

#segundo_nivel_1 #primeiro_nivel_2 {
    height: 140px;
    width: 320px;
}

#segundo_nivel_1 #segundo_nivel_2{
    display: flex;
    flex-direction: row;
    
}

#segundo_nivel_1 #segundo_nivel_2 #primeiro_nivel_3{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

#terceiro_nivel_1 {
    display: flex;
    justify-content: center;
}

#terceiro_nivel_1 #primeiro_nivel_2{
    display: flex;
    flex-direction: column;
}

#terceiro_nivel_1 #segundo_nivel_2{
    display: flex;
    flex-direction: column;
}

#terceiro_nivel_1 #terceiro_nivel_2{
    height: 140px;
    width: 320px;
}

#quarto_nivel_1 {
    display: flex;
    justify-content: flex-end;
}

#quarto_nivel_1 #primeiro_nivel_2 {
    display: flex;
    flex-direction: column;
}

#quarto_nivel_1 #quarto_nivel_2 {
    display: flex;
    flex-direction: column;
}

#quarto_nivel_1 #segundo_nivel_2 {
    height: 140px;
    width: 320px;
}

#quarto_nivel_1 #terceiro_nivel_2 {
    display: flex;
    flex-direction: column;
}

#quinto_nivel_1 {
    display: flex;
    justify-content: center;
}



