div {
    min-height: 100px;
    min-width: 100px;
    border-style: solid;
    margin: 5px 5px 5px 5px;
    border-color: black;
    border-radius: 3px;
    background-color: blueviolet;
}

#geral {
    background-color: crimson;
    max-width: 600px;
    display: flex;
    justify-content: space-around;
    align-content: space-around;
    flex-direction: column;
}

#primeiro_nivel_1 {
    display: flex;
    background-color: darkgoldenrod;
}

#segundo_nivel_2 {
    background-color: darkturquoise;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
}

#terceiro_nivel_1 {
    background-color: fuchsia;
    display: flex;
}

