div {
    min-height: 100px;
    min-width: 100px;
    border-style: solid;
    margin: 8px 8px 8px 8px;
    border-color: black;
    border-radius: 3px;
    background-color: greenyellow;
}

#geral {
    max-width: 750px;
    display: flex;
}

#primeiro_nivel_1 {
    background-color: hotpink;
    display: flex;
    flex-direction: column;
}

#primeiro_nivel_1 #primeiro_nivel_2 {
    background-color: lightskyblue;
    
    display: flex;
}

#primeiro_nivel_1 #segundo_nivel_2 {
    background-color: lightskyblue;
    display: flex;
}

#primeiro_nivel_1 #primeiro_nivel_2  #primeiro_nivel_3{
    background-color: maroon;
    display: flex;
    flex-direction: column;
}

#segundo_nivel_1 {
    background-color: hotpink;
    display: flex;
}

#segundo_nivel_1 #primeiro_nivel_2 {
    background-color: lightskyblue;
    display: flex;
    flex-direction: column;
}
#segundo_nivel_1 #segundo_nivel_2 {
    background-color: lightskyblue;
    display: flex;
    flex-direction: column;
}

#segundo_nivel_1 #segundo_nivel_2 #segundo_nivel_3 {
    height: 100%;
}

#primeiro_nivel_1 #segundo_nivel_2 #segundo_nivel_3 {
    width: 150px;
}

#primeiro_nivel_1 #primeiro_nivel_2 #segundo_nivel_3 {
    width: 60%;
}

.maior {
    height: 33%;
}

