
.geralBut {
    position: relative;
    display: inline-block;
}
.but {
    background-color: skyblue;
    color: white;
    padding: 20px;
    font-size: 20px;
    border: none;
    cursor: pointer;
}

.dropdown{
    display: none;
    position: absolute;
    background-color: tomato;
    min-width: 70px;
}

.geralBut:hover .dropdown {
    
    display: block;
    position: absolute;
    background-color: tomato;
    max-width: 70px;
}

a {
    color: #fafafa;
    text-decoration: none;
}

